.head{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 81px;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 


.welcome{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 194px;
    color: #000000;

  }

.first_time{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 97px;
    color: #000000;
  }

.rectangle{
    width: 511px;
    height: 102px;
    background: #E9C3A8;
  }

.start_here{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 97px;
    color: #E9C3A8;
  }

.image_home{
    width: 150px;
    align-content: right;
    width: 20px;
    height: 30px;   
  }

.title{
    /* position: absolute;
    width: 208px;
    height: 81px;
    left: 616px;
    top: 60px; */
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 81px;
    color: #000000;
}

h1 {
    font-family: Abril Fatface;
    font-size: 60px;
    line-height: 81px;
    color: #000000;
}

p {
    font-family: Abril Fatface;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

.about2{
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.expe1{
    position: absolute;
    width: 700px;
    height: 432.54px;
    left: 20px;
    top: 200px;
}
.expe2{
    position: absolute;
    width: 630px;
    height: 170px;
    left: 720px;
    top: 200px;
}

a {
    font-family: Montserrat;
    font-size: 24px;
    color: #000000;
}

#skillsFollowMeRow {
    font-size: 17px ;
    font-family: Montserrat;
    text-align: center;
    
}

.eduImg {
    width: 150px;
    margin-top: 10px;
}

#eduFont{
    font-family: Montserrat;
    font-size: 25px;
}
.date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.city{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}
#icon{
    color: #E9C3A8;
}
.list{
    font-size: 30px;
    font-family: Montserrat;
}
.loc{
    width: 70px;
    height: 70px;
}