{% extends 'navbar.html' %}
{% load static %}

{% block content %}
    <title>About - Nabila Edina</title>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <hr style="width: 400px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
            <div class="col">
                <div class="title text-center">ABOUT</div>
            </div>
            <div class="col-sm">
                <hr style="width: 400px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
        </div>
    </div>
    
    
    <br>
    <br>
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'images/about.jpeg' %}" class="img-fluid">
            </div>
            <div class="col-sm">
                <h1>
                    Hi, I'm Edina!
                </h1>
                <p>
                    I’m a 19 years-old Computer Science student in University of Indonesia.
                    I’m a passionate and hard-working individual. I really like to travel and taste
                    its local food.  I love to eat and watch movies especially romantic-comedy 
                    movie. 
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="row" id="skillsFollowMeRow">
                            <div class="col-sm">
                                <hr>
                            </div>
                            <div class="col-sm-3">
                                SKILLS
                            </div>
                            <div class="col-sm">
                                <hr>
                            </div>
                        </div>
                        <div class="row text-center mt-3" id="icon">
                            <div class="col-sm">
                                <img class="img-fluid" src="{% static 'images/python.png' %}">
                                    PYTHON
                            </div>
                            <div class="col-sm">
                                <img class="img-fluid" src="{% static 'images/java.png' %}">
                                 JAVA
                            </div>
                        </div>
                        <div class="row text-center mt-3" id="icon">
                            <div class="col-sm">
                                <img class="img-fluid" src="{% static 'images/html-5.png' %}">
                                HTML
                            </div>
                            <div class="col-sm">
                                <img class="img-fluid" src="{% static 'images/photoshop.png' %}">
                                PHOTOSHOP
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row" id="skillsFollowMeRow">
                            <div class="col-sm">
                                <hr>
                            </div>
                            <div class="col-sm-6">
                                FOLLOW ME
                            </div>
                            <div class="col-sm">
                                <hr>
                            </div>
                        </div>
                        <div class="row text-center mt-3" id="icon">
                            <div class="col-sm">
                                <a href="https://www.instagram.com/nabilaedinaa/"><img class="img-fluid" src="{% static 'images/instagram copy.png' %}"></a>
                                INSTAGRAM
                            </div>
                            <div class="col-sm">
                                <a href="https://twitter.com/dinnn_tai_fung"><img class="img-fluid" src="{% static 'images/twitter copy.png' %}"></a>
                                TWITTER
                            </div>
                        </div>
                        <div class="row text-center mt-3" id="icon">
                            <div class="col-sm">
                                <a href="https://www.linkedin.com/in/nabilaedinaa/"><img class="img-fluid" src="{% static 'images/linkedin copy.png' %}"></a>
                                LINKEDIN
                            </div>
                            <div class="col-sm">
                                <a href="https://id.pinterest.com/nabilaedinaaa/"><img class="img-fluid" src="{% static 'images/pinterest copy.png' %}"></a>
                                PINTEREST
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
   
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% include 'copyright.html' %}
{% endblock %}
