{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<hr>
<title style="text-align: center;">Add Friends</title>
<br><br>
<h1 style="text-align: center;">Add Friends</h1>


<form method="post" action="{% url 'homepage:addfriend' %}">
    {% csrf_token %}
    <div style="margin-left: 10px; margin-right: 10px;">
    <div class="form-row">
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-10">
            {% for fields in form %}
                {{ fields.label_tag }}
                <br>
                {{ fields }}
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <input style="align-content: center; margin-left: auto; margin-right: auto;" id="submitBtn" type="submit" class="btn btn-primary" value="Add">
        
    </div>
    </div>
    
</form>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm" style="text-align: center;">
            <a href="/seefriend/"><button style="align-content: center; margin-left: auto; margin-right: auto;" type ="button" class="btn btn-primary">See Friends</button></a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>


{% include 'copyright.html' %}
{% endblock %}
