{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Education - Nabila Edina</title>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <hr style="width: 300px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
            <div class="col-sm-5">
                <div class="title text-center">EDUCATION</div>
            </div>
            <div class="col-sm">
                <hr style="width: 300px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
        </div>
    </div>
    <div class="container" id="eduFont">
        <div class="row align-items-center">
            <div class="col-sm">
                <img class="eduImg" src="{% static 'images/makara-ui-fasilkom.png' %}">
            </div>
            <div class="col-sm-7">
                Faculty of Computer Science, University of Indonesia
                <br>
                2018 - Present
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="eduImg" src="{% static 'images/sman.jpg' %}">
            </div>
            <div class="col-sm-7">
                <br>
                SMAN 8 Jakarta
                <br>
                2015 - 2018
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="eduImg" src="{% static 'images/Logo_Labschool.png' %}">
            </div>
            <div class="col-sm-7">
                <br>
                SMP Labschool Cibubur
                <br>
                2012 - 2015
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="eduImg" src="{% static 'images/sd-al-azhar-syifa-budi-cibinong.jpg' %}">
            </div>
            <div class="col-sm-7">
                <br>
                SD Al-Azhar Syifa Budi Cibubur
                <br>
                2006 - 2012
            </div>
        </div>
    </div>
    {% include 'copyright.html' %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}