{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Experience - Nabila Edina</title>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <hr style="width: 300px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
            <div class="col-sm">
                <div class="title text-center">EXPERIENCE</div>
            </div>
            <div class="col-sm">
                <hr style="width: 300px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <img class="img-fluid" src="{% static 'images/expe.png' %}">
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="{% static 'images/expe1.png' %}">
            </div>
        </div>
    </div>
    {% include 'copyright.html' %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}