<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap" rel="stylesheet">
    <title>Home - Nabila Edina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/0bb1ded335.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 text-center">
                <a href="{% url 'homepage:home' %}"><h1 class="head">NABILA EDINA</h1></a>
            </div>
            <div class="col-sm-2.5" style="padding-top: 25px;">
                <a href="https://www.instagram.com/nabilaedinaa/""><img src="{% static 'images/instagram.png' %}" style="width: 30px;"></a>
                <a href="https://www.facebook.com/nabilaedinaa"><img src="{% static 'images/facebook.png' %}" style="width: 30px;"></a>
                <a href="https://www.linkedin.com/in/nabilaedinaa/"><img src="{% static 'images/linkedin.png' %}" style="width: 30px;"></a>
                <a href="https://twitter.com/dinnn_tai_fung"><img src="{% static 'images/twitter.png' %}" style="width: 30px;"></a>
                <a href="https://id.pinterest.com/nabilaedinaaa/"><img src="{% static 'images/pinterest.png' %}" style="width: 30px;"></a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>    
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="welcome">
                    Welcome!
                </div>
                <div class="first_time">
                    First time to this site?
                </div>
                <a href="{% url 'homepage:about' %}"><h3 style="width: 500px; height: 102px;" class="start_here">START HERE</h3></a>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/home.jpeg' %}" style="width: 500px; height: 660px;">
            </div>
        </div>
    </div>
    {% include 'copyright.html' %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
    

</body>
</html>