{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/0bb1ded335.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-2 mb-1">
        <div class="row" id="navBar">
            <div class="col-sm">
                <a href="{% url 'homepage:home' %}"><i class="fas fa-home" style="font-size: 32px; color: black;"></i></a>
            </div>
            <div class="col-sm text-center">
                <a href="{% url 'homepage:about' %}">ABOUT</a>
            </div>
            <div class="col-sm text-center">
                <a href="{% url 'homepage:education' %}">EDUCATION</a>
            </div>
            <div class="col-sm text-center">
                <a href="{% url 'homepage:experience' %}">EXPERIENCE</a>
            </div>
            <div class="col-sm text-center">
                <a href="{% url 'homepage:travel' %}">TRAVEL</a>
            </div>
            <div class="col-sm text-center">
                <a href= "#" data-toggle="modal" data-target="#exampleModal">FOOD</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Coming Soon!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Sorry. Will be available soon.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-primary" href="{% url 'homepage:food' %}">OK</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm text-center">
                <a href="{% url 'homepage:addfriend' %}">FRIENDS</a>
            </div>
        </div>
    </div>
{% block content %}

{% endblock %}

    
</body>
</html>