{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<hr>
<title>See Friends</title>
<br><br>
<h1 id="profh1" style="text-align: center;">My Friends</h1>

<table id="friendtable" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Batch</th>
        <th scope="col">Hobby</th>
        <th scope="col">Fav Food</th>
        <th scope="col">Fav Drink</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friends %}
        <tr class="table-info">
          <td class="table-secondary">{{ friend.name }}</td>
          <td class="table-info">{{ friend.ClassYear }}</td>
          <td class="table-secondary">{{ friend.hobby }}</td>
          <td class="table-info">{{ friend.food }}</td>
          <td class="table-secondary">{{ friend.drink }}</td>
          <td><a href="/seefriend/deletefriend/{{friend.name}}"><button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a></td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'homepage:addfriend' %}" style="text-decoration: none;"> 
    <button id="friendButton" type="button" class="btn btn-light">
      Add Friends</button> </a>
      {% include 'copyright.html' %}
{% endblock %}
