{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Travel - Nabila Edina</title>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <hr>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <hr style="width: 400px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
            <div class="col">
                <div class="title text-center">TRAVEL
                </div>
            </div>
            <div class="col-sm">
                <hr style="width: 400px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'images/swiss.jpeg' %}" style="width: 300px;">
                <h1 class="date text-center">July 11, 2016</h1>
                <h1 class="city text-center">Swiss</h1>
                <br>
                <img src="{% static 'images/penang.jpeg' %}" style="width: 300px;">
                <h1 class="date text-center">August 8, 2019</h1>
                <h1 class="city text-center">Penang</h1>
            </div>
            <div class="col-sm">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="{% static 'images/london.jpeg' %}" style="width: 300px; height: 400px;">
                <h1 class="date text-center">July 3, 2016</h1>
                <h1 class="city text-center">London</h1>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/rome.jpeg' %}" style="width: 300px;">
                <h1 class="date text-center">July 14, 2016</h1>
                <h1 class="city text-center">Rome</h1>
                <br>
                <img src="{% static 'images/venice.jpeg' %}" style="width: 300px;">
                <h1 class="date text-center">July 13, 2016</h1>
                <h1 class="city text-center">Venice</h1>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm">
                        <hr style="width: 350px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
                    </div>
                    <div class="col">
                        <div class="list text-center">MY BUCKET LISTS</div>
                    </div>
                    <div class="col-sm">
                        <hr style="width: 350px;height: 0px;left: 50px;top: 50px;border: 1px solid #000000;border-width: 1px;transform: rotate(180deg)">
                    </div>
                </div>
                <div class="row text-center justify-contents-center">
                    <div class="col-sm">
                        <img src="{% static 'images/loc.png' %}" class="loc">
                        <p>Greece</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/loc.png' %}" class="loc">
                        <p>New Zealand</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/loc.png' %}" class="loc">
                        <p>Edinburgh</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/loc.png' %}" class="loc">
                        <p>Spain</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/loc.png' %}" class="loc">
                        <p>United States</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    {% include 'copyright.html' %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}